:root {
  font-size: 10px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  font-size: 1.6rem;
}

body::-webkit-scrollbar{
  width: 6px;
  background-color: var(--background-color);
}

body::-webkit-scrollbar-thumb{
  background-color: #24C5DB;
  border-radius: 6px;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
.button:hover,
.button:focus,
.button:active {
  outline: none;
  cursor: pointer;
  filter: invert(25%) sepia(35%) saturate(3885%) hue-rotate(8deg) brightness(99%) contrast(89%);
}

.glass-effect {
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgb(36 197 219 / 15%) 0%,
    rgb(36 197 219 / 0%) 100%
  );
  border: 2px solid #24C5DB;
  backdrop-filter: blur(31px);
}

.gold-glass-effect {
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgb(255 215 0 / 15%) 0%,
    rgb(255 215 0 / 0%) 100%
  );
  border: 2px solid rgb(255 215 0);
  backdrop-filter: blur(31px);
}

.hiden {
  position: absolute;
  left: -9999px;
}
