.toys {
  display: grid;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: min-content 1fr;
  width: 100%;
  height: 100%;
  color: white;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
}

.toys__filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: min-content;
  margin: 15px;
  margin-bottom: 80px;
  padding: 15px;
  border-radius: 30px;
}

.filters__header {
  display: flex;
}

.filters__search {
  width: 100%;
  padding: 0 10px;
  color: white;
  background-color: var(--background-color);
  border-radius: 30px;
}

.filters__search::-webkit-search-cancel-button {
  width: 16px;
  height: 16px;
  background-image: url('../assets/svg/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  appearance: none;
}

.filters__search:focus::placeholder,
.filters__search:hover::placeholder {
  color: rgb(194 194 194);
}

.filters__search:hover,
.filters__search:focus {
  background-color: #1b8a18;
  border-color: #dd770e;
  outline: none;
}

.filter-sort {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.filter-sort__title {
  font-weight: 400;
  font-size: 2rem;
}

.sort {
  width: 100%;
  color: var(--font-color);
  text-align: center;
  background-color: var(--background-color);
  border-radius: 15px;
  appearance: none;
}

.filter-count__slider,
.filter-year__slider {
  margin: 10px;
}

.filter-year__labels,
.filter-count__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-shape,
.filter-color,
.filter-size,
.filter-favorite,
.filter-shape__title,
.filter-color__title,
.filter-size__title,
.filter-favorite__title,
.filter-shape__options,
.filter-color__options,
.filter-size__options,
.filter-favorite__options,
.color {
  display: flex;
  gap: 5px;
  align-items: center;
}

.shape {
  width: 25px;
  height: 25px;
}

.color-bg {
  width: 24px;
  height: 24px;
  margin: 2px;
  border-radius: 8px;
}

.filter-value:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 7px #d6c90e);
}

.filter-value-bg {
  box-sizing: content-box;
  padding: 3px;
  object-fit: contain;
  border: 1px solid transparent;
}

.filter-value input:checked ~ .filter-value-bg {
  border: 1px solid #24c5db;
  border-radius: 8px;
  cursor: pointer;
  filter: drop-shadow(0 0 7px #24c5db);
}

/* .filter-value input:focus ~ .filter-value-bg {
  background-color: #008f00;
  border-radius: 10px;
  outline: 3px solid #d6a609;
} */

.filters__reset {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.toys__container {
  position: relative;
  display: grid;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 85px;
}

.toys__placeholder {
  display: flex;
  grid-column: 1 /-1;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 50px;
  font-size: 3rem;
  line-height: 6rem;
  text-align: center;
  border-radius: 30px;
}

.toy {
  display: grid;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: 1fr 1fr;
  width: 230px;
  height: 420px;
  padding: 20px;
  border-radius: 30px;
  transition: all 500ms;
}

.toy__title {
  grid-column: 1/-1;
  font-size: 2rem;
  text-align: center;
}

.toy__image {
  grid-column: 1/-1;
  width: 150px;
  margin: 15px auto;
}

.toy__count,
.toy__year,
.toy__shape,
.toy__color,
.toy__size,
.toy__favorite {
  text-align: right;
}

.back-to-top {
  position: fixed;
  bottom: 12vh;
  left: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 3rem;
  background: var(--background-color);
  border-radius: 50%;
  visibility: hidden;
}

.noUi-target {
  height: 6px;
  background: transparent;
  border: 1px solid #24c5db;
  box-shadow: none;
}

.noUi-connect {
  background-color: #24c5db;
}

.noUi-touch-area:hover {
  box-shadow: 0 0 7px #d6c90e;
  cursor: pointer;
}

.noUi-handle::before,
.noUi-handle::after {
  content: none;
}

.noUi-touch-area:active {
  background-color: #24c5db;
  border-radius: 15px;
  box-shadow: 0 0 7px #24c5db;
}

.noUi-horizontal .noUi-handle {
  right: -7px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

@media (max-width: 1550px) {
  .toys__container {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1300px) {
  .toys__container {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1050px) {
  .toys__container {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .toys__filters {
    width: 270px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .toys__container {
    gap: 5px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .toy {
    height: 370px;
  }

  .toy__image {
    width: 100px;
    height: 100px;
  }
}
