.toys {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 100%;
  height: 100%;
  color: white;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
}

.toys__filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  margin: 15px;
  margin-bottom: 80px;
  padding: 15px;
  border-radius: 30px;
}

.filters__header {
  display: flex;
}

.btn--icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  background-color: var(--background-color);
  border-radius: 30px;
}

.btn--snow {
  background-image: url('../assets/svg/snow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.btn--sound {
  background-image: url('../assets/svg/audio.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.filters__search {
  width: 100%;
  padding: 0 10px;
  background-color: var(--background-color);
  border-radius: 30px;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
}

.filter-sort__title {
  font-weight: 400;
  font-size: 2rem;
}

.filter-count__slider,
.filter-year__slider {
  margin: 10px;
}

.filter-year__labels,
.filter-count__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-form__title,
.filter-color__title,
.filter-size__title {
  margin-bottom: 10px;
}

.filter-form__options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.filter-color__options {
  display: flex;
  justify-content: space-between;
}

.filter-form__option,
.filter-color__option {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  appearance: none;
}

.filters__reset {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.btn {
  padding: 12px;
  color: var(--font-color);
  font-size: 1.4rem;
  background-color: var(--background-color);
  border-radius: 30px;
}

.toys__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 85px;
}

.toys__placeholder{
  display: flex;
  grid-column: 1 /-1;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 50px;
  font-size: 3rem;
  line-height: 6rem;
  text-align: center;
  border-radius: 30px;
}

.toy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 230px;
  height: 420px;
  padding: 20px;
  border-radius: 30px;
  transition: all 500ms;
}

.toy__title {
  grid-column: 1/-1;
  font-size: 2rem;
  text-align: center;
}

.toy__image {
  grid-column: 1/-1;
  width: 150px;
  margin: 15px auto;
}

.toy__count,
.toy__year,
.toy__shape,
.toy__color,
.toy__size,
.toy__favorite {
  text-align: right;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

.filters__search::-webkit-search-cancel-button {
  width: 16px;
  height: 16px;
  background-image: url('../assets/svg/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  appearance: none;
}
