.tree-page {
  display: grid;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
  min-height: 100%;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tree-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  background-image: url('../assets/bg/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

.tree {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tree__image {
  width: 68%;
  height: 96%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
  border-radius: 15px;
}

.container__title {
  width: 100%;
  color: var(--font-color);
  text-align: center;
}

.tree-container,
.bg-container,
.garland-options__container,
.toys-container {
  display: grid;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 10px auto;
}

.bg-container,
.garland-options__container {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(5, 1fr);
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.tree-item,
.bg-item,
.garland-options__item,
.toy-item,
.store-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 10px;
}

.toy-item {
  position: relative;
}

.bg-item,
.garland-options__item {
  width: 55px;
  height: 55px;
}

.garland-option-bg {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.store-container {
  display: grid;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  gap: 5px;
  width: 20vw;
  min-width: 0;
  min-height: 0;
  padding-bottom: 5px;
  overflow-x: auto;
}

.store-container::-webkit-scrollbar {
  height: 6px;
  background-color: var(--background-color);
}

.store-container::-webkit-scrollbar-thumb {
  background-color: #24c5db;
  border-radius: 6px;
}

.store-item {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tree-item,
.bg-item,
.garland-options__item,
.store-item:not(:empty) {
  cursor: pointer;
}

.tree-item:hover,
.bg-item:hover,
.garland-options__item:hover,
.toy-item:hover .toy-image,
.store-item:not(:empty):hover {
  filter: drop-shadow(0 0 7px #d6c90e);
}

.toy-item__label {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  color: black;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: #24c5db;
  border-radius: 50%;
  visibility: hidden;
}

.snowflake {
  position: absolute;
  top: 0;
  z-index: 1500;
  color: #fff;
  animation: fall linear forwards;
  pointer-events: none;
}

@keyframes fall {
  to {
    transform: translateY(85vh) rotate(720deg);
  }
}

.bg-options__item input:checked ~ .bg-item,
.tree-options__item input:checked ~ .tree-item,
.garland-options__item input:checked ~ .garland-option-bg {
  border: 1px solid #24c5db;
  border-radius: 8px;
  cursor: pointer;
  filter: drop-shadow(0 0 7px #24c5db);
}

.garland-option-bg-multicolor {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.btn {
  padding: 12px;
  color: var(--font-color);
  font-size: 1.4rem;
  background-color: var(--background-color);
  border-radius: 30px;
}

.btn--icon {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  margin-right: 5px;
  background-color: var(--background-color);
  border-radius: 30px;
}

.btn--snow {
  background-image: url('../assets/svg/snow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.btn--sound {
  background-image: url('../assets/svg/audio.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.controls-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  padding: 0 5px;
}
